
<div class="container">
	<div id="new_comment_form">
		<%= render "comments/show", comments: Task.find(task_id.to_i).comments %>
	</div>
	<div id="abc" >
	</div>
</div>
<div id="a">
	<%= render "comments/form", comment: Comment.new %>

</div>