<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center"><%= @user.username %></h1>
				<h1 class="text-center"><%= @user.email %></h1>
			</div>
		</div>
	</div>
</div>