.btn-default-custom {
    background: #d9d9d9;
    color: black;
    float:right;
    width: 10%;
}
img.imgcomment.align-self-start.mr-3 {
    height: 28px;
    margin: 1px 13px 1px 1px;
    border: 105px black;
    width: 1;
    /* border: 15em black; */
    border: rgba(0, 0, 0, 0.075);
    /* border-style: outset; */
    /* border: 2em red; */
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 80px;
    height: 80px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
     width: 80px;
    height: 80px;
}
.search-form {
    padding: 60px 329px 14px 298px;
    /* margin-top: 2px; */
}
.form-control-search {
    display: block;
     width: 400px;
   margin: 0 auto;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (max-width: 1200px)
{
.form-control-search {
   display: block;
   width: 100%;
}
}
@media (max-width: 1100px)
{
.search-form {
    padding: 19px 204px 0px 182px;
}
input#date_date {
    width: 100%;
    }
}
h1.text-center.pt-4 {
    border: 1px solid #b5b5b5;
}